<!DOCTYPE html>
<html>
  <head>
    <title>PpWorkshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container mx-auto px-5 py-5">
      <div style="margin-left: 160px; margin-right: 160px; margin-top: 40px; margin-bottom: 40px">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
